@model dynamic
@{
    
    ViewBag.Title = "VerCarrito";
    Layout = null;
    #region CookiesConfiguration
    //Cookies Configuration 4.0
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);


            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
    }
    #endregion

}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Tienda Virtual CR</title>
</head>
<body style="background-color:#E8D0F9">
   @{ 
       #region Header3.0
    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <table class="table">
                <tr class="col-lg-12 col-md-12 col-sm-12 text-center">

                    <td class="col-3 center-block text-center">
                        <button class="btn btn-light btn-large btn-block text-center btn-outline-secondary center-block" onclick="window.location.href = '/Producto/AllProducts'">
                            <div class="btn-outline-secondary">Home</div>
                        </button>
                    </td>
                    <td class="col-3">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </td>
                    <td class="col-3 center-block">
                        <button class="btn btn-outline-success glyphicon-align-center my-2 my-sm-0" type="submit">Search</button>
                    </td>
                    <td class="col-3 center-block text-center">
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                    <div>@user.Username</div>
                                </button>
                                <div class="dropdown-menu center-block" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="~/Carrito/Show?json=@Newtonsoft.Json.JsonConvert.SerializeObject(user.Products)">Carrito</a>
                                    <a class="dropdown-item" onclick="goToCompras();">Compras</a>
                                    <a class="dropdown-item" href="~/User/Configuration">Configuracion</a>
                                    @{
                                        if (user.Username.Equals("Invitado"))
                                        {
                                            <a class="dropdown-item" href="~/Login">Iniciar Sesion</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="~/login/logout">Cerrar Sesion</a>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </nav>
    </div>
    #endregion}
    <div>
        <h1 class="display-4 text-center">Carrito</h1>
    </div>
    <div class="container bg-dark text-dark p-3 rounded-3">

        @{
            if (user.Products.Count == 0 || Model.List.Count==0)
            {
                <h2 class="text-white text-center">No tienes productos en el carrito!</h2>
            }
            else
            {
                <table class="table bg-white rounded-3">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Product ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            <tr class="text-center">



                                <td>@item.producto.PRO_ID</td>
                                <td>@item.producto.PRO_NOMBRE</td>
                                <td>@item.CAR_PRO_CANTIDAD</td>
                                <td>
                                    ₡@(item.CAR_PRO_CANTIDAD * item.producto.PRO_PRECIO)
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" id="borrarProducto" style="width:100%" onclick="borrarJS('@item.PCR_ID', @item.producto.PRO_ID)">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </div>
                                    </button>
                                </td>

                                <td>
                                    <button class="btn btn-outline-primary" id="verProducto" onclick="window.location.href = '/Producto/ShowProduct?id=@item.producto.PRO_ID'" style="width:100%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </button>
                                </td>






                            </tr>

                        }
                        <tr>
                            <td colspan="6">
                                <button class="btn btn-outline-primary text-center" style="width:100%;align-self:center">Efectuar Compra</button>

                            </td>
                        </tr>
                    </tbody>








                </table>

            }

        }
        <script>
            URLValidator();
            function URLValidator() {
                var value ='@Newtonsoft.Json.JsonConvert.SerializeObject(user.Products)';
                value = value.replace(/&quot;/g, '"');
                var model = '@Model.Validator';
                console.log(value); 
                model = model.replace(/&quot;/g, '"');
                console.log(model);
                if ((value===model)) {
                }
                else {
                    window.location.href = "/Carrito/Show?json=" + value;
                }
            }

            var btnBorrar = document.getElementById('borrarProducto');
            function borrarJS(pcrid,proID) {
                if ('@user.Username' == 'Invitado') {
                    window.location.href = '/Carrito/Borrar?id=' + proID + '&token=notValid';
                }
                else {
                    window.location.href = '/Carrito/Borrar?id=' + pcrid + '&token=@user.JsonToken'
                }
            }
        </script>


    </div>

</body>

