
@{


    ViewBag.Title = "Test";
    Layout = null;

    #region CookiesConfiguration
    //Cookies Configuration 4.0
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);


            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                //Error
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
    }
    #endregion

}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-dark">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hola!</h5>
                </div>
                <div class="modal-body text-dark">
                    Este sitio utiliza cookies
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="change_text">
                        Entiendo!
                    </button>
                </div>
            </div>
        </div>

    </div>
    <h1 class="display-3">Show cookies</h1>
    @{
        HttpCookie read = Request.Cookies["UserCookie"];
        <h2>Product List</h2>
        <h4>@read["ListProduct"].ToString()</h4>
        <h2>Username</h2>
        if (read["Username"].ToString() == null)
        {
            <h4>null</h4>
        }
        else
        {
            <h4>@read["Username"].ToString()</h4>
        }
        <h2>JsonToken</h2>
        if (read["JsonToken"].ToString() == null)
        {
            <h4>null</h4>
        }
        else
        {
            <h4>@read["JsonToken"].ToString()</h4>
        }
        <h2>US_ID</h2>
        if (read["US_ID"].ToString().Equals("0"))
        {
            <h4>null</h4>

        }
        else
        {
            <h4>@read["US_ID"].ToString()</h4>
        }
        <h1 class="display-3">Show userByUserInfo</h1>
        <h2>User ID</h2>
        <h4>@user.US_ID</h4>
        <h2>Token</h2>
        <h4>@user.JsonToken</h4>
        <h2>Username</h2>
        <h4>@user.Username</h4>
        <h2>Products</h2>
        foreach (var i in user.Products)
        {
            <h4>@i.PRO_ID</h4>
            <h4>@i.CAR_PRO_CANTIDAD</h4>
        }


        
        
        //System.Threading.Tasks.Task.Run(() => insertPCS());
        //async System.Threading.Tasks.Task insertPCS()
        //{
        //    foreach (var item in listModel)
        //    {
        //        await pCManager.Insertar(new Views.Models.Producto_Compra { COM_ID = 7, CM_PRECIO_PRODUCTO_UNIDAD = (int)item.producto.PRO_PRECIO, COM_PRO_CANTIDAD = item.CAR_PRO_CANTIDAD, PRO_ID = item.producto.PRO_ID }, user.JsonToken);
        //    }
        //}
    }
</body>