@model IEnumerable<ViewsTiendaVirtual.Models.Producto>

@{
    ViewBag.Title = "AllProducts";
}

<h2>AllProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRO_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_STOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRO_DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_STOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_PRECIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRO_DESCRIPCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
